# Configuração do Sistema Intelbras InControl
INCONTROL_URL=https://<IP_DO_INCONTROL>:<PORTA>/#/home/eventos-usuario
INCONTROL_USER=admin_ou_seu_usuario
INCONTROL_PASSWORD=sua_senha_aqui

# Configuração de E-mail (SMTP)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@gmail.com
SMTP_PASSWORD=sua_senha_de_aplicativo_aqui
EMAIL_RECIPIENTS=destinatario1@empresa.com,destinatario2@empresa.com

# Configuração do Relatório
# Nome da coluna que representa a Empresa/Departamento no CSV exportado
# Verifique o CSV baixado e ajuste se necessário
COLUNA_EMPRESA=Unidade organizacional
